@import "header.css";

*{
  font-family: 'Nanum Gothic', sans-serif;
}

/*메인*/
.main {
  padding-top: 54px;
}

.story__review{
  margin-left: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 6rem;
  height: 27px;
}
.story__comment-list{
  display: none;
}
.story__comment-list--more{
  cursor: pointer;
}

/*컨테이너*/
.main .container {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/*별점*/
.star-ratings-avg--text{
  font-family: 'Single Day', cursive;
  font-size: 28px;
  padding-right: 1rem;
}
.star-ratings,
.sl__item__contents__content .star-ratings{
  font-size: 28px;
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star-ratings-base {
  z-index: 0;
  padding: 0;
}

/*게시물리스트*/
.main .container .story-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: initial;
}
.review__hash{
  display: block;
  display: none;
}
.review__hash p:nth-child(1){
  padding-right: 10px;
}
/*게시물 리스트 아이템*/
.main .container .story-list .story-list__item {
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: white;
  padding: 0;
}
.story-cnt{
  color: #0095f6;
  font-size: 15px;
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: bold;
}
/*리스트 아이템 헤더부분*/
.main .container .story-list .story-list__item .sl__item__header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  padding: 0;
}
.sl__item__header--home{
  justify-content: space-between;
}

.review__hash p{
  margin: 0;
}

/*리스트 아이템 헤더 div*/
.main .container .story-list .story-list__item .sl__item__header div {
  margin-left: 10px;
  font-size: 19px;
  white-space:nowrap;
}

/*리스트 아이템 헤더 이미지영역 박스*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__header--review
  div:nth-child(1) {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
  position: relative;
}

/*!*리스트 아이템 헤더 실제이미지*!*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__header--review
  div:nth-child(1)
  img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* 게시물 이미지 박스*/
.main .container .story-list .story-list__item .sl__item__img {
  height: 300px;
  min-height: 300px;
}

/* 게시물 이미지*/
.main .container .story-list .story-list__item .sl__item__img img {
  width: 100%;
  height: 100%;
}

/* 게시물 이미지 밑에 영역들 */
.main .container .story-list .story-list__item .sl__item__contents {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/*좋아요 버튼영역*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon {
  height: 40px;
  padding: 5px 0;
  text-indent: 10px;
}

/*좋아요 실제 버튼*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon
  button {
  background-color: transparent;
  width: 40px;
  font-size: 25px;
  
  border: 0;
  cursor: pointer;
}
.sl__item__avgRating{
  display: flex;
  padding: 5px 15px
}
.sl__item__avgRating div:nth-child(1){
  width: 2rem;
}

/*게시물 내용*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__content {
  padding: 5px 15px;
  display: flex;
  font-size: 15px;
}

.main
.container
.story-list
.story-list__item
.sl__item__contents
.sl__item__contents__content p{
  margin: 0;
}

.story__comment-list p{
  margin: 0;
}

.main
.container
.story-list
.story-list__item
.sl__item__contents
.sl__item__contents__content div {
  width: 2rem;
}

.main
.container
.story-list
.story-list__item
.sl__item__contents
.sl__item__contents__content a{
  color: #0095f6;
}

/*게시물 like 갯수스타일*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents .like{
	background-color: transparent;
	border: 0;
	color: #000000;
	font-size: 14px;
	margin-bottom: 5px;
	text-indent: 15px;
    padding-top: 10px;
}
/*게시물 좋아요 count값 */
.main
  .container
  .story-list
  .story-list__item
.sl__item__contents .like b{
	margin-right: 5px;
}

/*태그영역*/
.sl__item__contents__tags{
  height: 40px;
  padding: 5px 10px;  
  color: #0080ff;
}

/*코멘트 = 댓글 */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__comment
  {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 5px;
}

/*댓글 삭제버튼*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
.sl__item__contents__comment button{ border: none; outline: none; background: #fff; cursor: pointer;}

/* 댓글 입력창*/
.main .container .story-list .story-list__item .sl__item__input {
  display: flex;
  border-top: 1px solid #dbdbdb;
}

/*입력 인풋*/
.main .container .story-list .story-list__item .sl__item__input input {
  flex: 9;
  height: 56px;
  border: 0;
  padding-left: 15px;
  font-size: 16px;
}
/* 입력하기 버튼 */
.main .container .story-list .story-list__item .sl__item__input button {
  flex: 1;
  height: 56px;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  color: #0095f6;
  font-size: 15px;
  font-weight: bold;
}

/* Event */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__icon
  button:first-child
  .active {
  color: #0095f6;
}

@media screen and (min-width: 768px){
  .main .container .story-list .story-list__item .sl__item__header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: initial;
    padding: 0;
  }

  .review__hash{
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
    display: flex;
  }

  /* 게시물 이미지 박스*/
  .main .container .story-list .story-list__item .sl__item__img {
    height: 600px;
    min-height: 300px;
  }

  .main .container .story-list .story-list__item .sl__item__input button {
    font-size: 17px;
  }
}
